
<div class="container">
    <h1 class="text-center py-5">The Rial News</h1>

    <% @news.each do |news| %>
        <div class="news-container pt-5">
        <h2 class="py-4"><%= news.title %></h2>
        <p><%= news.content %></p>

        <% if user_signed_in? %>
        <div class="comment-form-container">
            <%= form_for(Comment.new) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :news_id, value: news.id %>
            <%= f.text_area :content, placeholder: "Deja tu comentario...", style: "width: 100%; height: 150px" %>
            <%= f.submit "Comentar", class: "btn btn-primary mt-3" %>
            <% end %>
        </div>
        <% else %>
            <a class="btn btn-outline-success my-5" href="<%= new_user_session_path %>" >Inicia sesión para dejar un comentario</a>
        <% end %>
        

        <% news.comments.each do |comment| %>
            <div class="comment">
            <strong><%= comment.user.name %></strong>
            <p class="pt-4"><%= comment.content %></p>
            </div>
        <% end %>
        </div>
    <% end %>
</div>


