<p style="color: green"><%= notice %></p>

<%= render @news %>

<div>
  <%= link_to "Editar noticia", edit_news_path(@news), class: "btn-margin"  %> |
  <%= link_to "Volvera a noticias", news_index_path, class: "btn-margin"  %>

  <%= button_to "Eliminar noticia", @news, method: :delete, class: "btn btn-outline-danger btn-margin" %>
</div>
